html {
      font-size: 62.5%; 
}
  
body {
      text-rendering: optimizeLegibility;
      font-family: 'Roboto', sans-serif;
      font-size: 1.6rem;
      padding-top: 60px;
}

.navbar-brand {
      color: #e8930c !important;
      font-size: 1.6rem;
}

.nav-link {
      color: #e8930c !important;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.4rem;
}

.bg-shadow {
      box-shadow: 0px 2px 25px -6px rgba(0,0,0,0.75);
}

.box {
      display: flex;
      align-items:center; 
}

.carousel-bg {
      background-color: #292929;
}

.carousel-item {
      height: 80vh;
      background-size:cover !important;
      background-position:center !important;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.1);
}

.carouselTitle {
      color:#eee;
      font-size: 6rem;
      font-weight: 300;
      margin: 1.5%;
}

.carouselText {
      font-size: 3rem;
      font-weight: 100;
}


/* SECTION SERVICES */
.services {
      margin: 5% 0;
      padding: 0 5%;
}

.services-title-text {
      color: #e8930c;
      font-size: 4.8rem;
      font-weight: 500;
      line-height: 65px;
      text-transform: uppercase;
      letter-spacing: 4.67px;
}

.services-title-info {
      color: #4a4a4a;
      font-family: Montserrat;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 1.11px;
      line-height: 3rem;
      text-align: center;
      margin: 3% 15%;
}
  
.services-text {
      color: #4a4a4a;
      font-family: Montserrat;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 1.11px;
      text-align: left;
}

/* SECTION SKILLS */
.skills {
      background-color: #f4f4f4;
      padding: 5% 5%;
}

.skill-items {
      margin: 0 5%;
}

.skill-items-title {
      color: #e8930c;
      font-size: 2.2rem;
      margin-bottom: 3%;
}

/* SECTION COUNTRIES */
.countries {
      margin: 5% 5%;
}
  
.countries-title-38 {
      color: #e8930c;
      font-size: 10rem;
      letter-spacing: 4.67px;
      line-height: 0.9;
}
  
.countries-title-text {
      color: #e8930c;
      font-size: 4.8rem;
      font-weight: 500;
      line-height: 65px;
      text-transform: uppercase;
      letter-spacing: 4.67px;
}
  
.countries-text {
      color: #4a4a4a;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 1.11px;
      text-align: left;
}


/* SECTION FOOTER */
.footer-section{
      box-shadow: 0px -2px 25px -6px rgba(0,0,0,0.75);
      padding-left: 5%;
      padding-right: 5%;
}
  
.footer-bg {
      background-size: contain;
      background-position: left;
      background-repeat: no-repeat;
}

.footer-section ul {
      margin-top: 30px;
      list-style: none;
}
  

.footer-uzer {
      color: #38383a;
      font-family: "Montserrat";
      font-size: 1.2rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.71px;
      margin-bottom: 30px;
}
  
.footer-copyright {
      color: #38383a;
      font-family: "Montserrat";
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1.71px;
}
  
.small-icon {
      color: #38383a;
      font-size: 2rem;
      margin: 0 2%;
}

@media only screen and (max-width: 750px) {
      body {
        padding-top: 0px;
      }

      .navbar-brand {
            font-size: 1.2rem;
      }

      .carousel-item {
            height: 60vh;
      }

      .carouselTitle {
            font-size: 3rem;
      }

      .carouselText {
            font-size: 1.5rem;
      }

      .services-title-info {
            margin: 3% 1%;
            text-align: left;
      }
}